/* Application Page Styles */
.application-jobs-section {
  background-color: transparent;
  padding: 80px 0;
  margin-top: -45vh;
  width: 100%;
  height: 100%;
  position: relative;
}

.bottom-vector-application {
  /* margin-top: -300px; */
  /* height: 300vh; */
  transform: scaleX(1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* Mobile responsive padding */
@media (max-width: 768px) {
  .application-jobs-section {
    padding: 40px 16px;
  }
}

@media (max-width: 480px) {
  .application-jobs-section {
    padding: 32px 16px;
    height: 100%;
    position: relative;
  }
  .bottom-vector-application {
    display: none;
    /* z-index: 1; */
  }
}
@media (max-width: 420px) {
  .application-jobs-section {
    height: 100%;
  }
}
