.feature-card-image {
  height: 300px;
  width: 100%;
  background-color: var(--green-60);
  border-radius: 30px 30px 0 0;
}
.feature-card-content {
  padding: 24px;
}
.feature-card-container {
  border-radius: 30px;
}
.feature-card-content h3 {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}
.feature-card-content p {
  /* Text base/Regular */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
.feature-card-button {
  border: 1px solid var(--type-primary);
}
.features-section {
  height: auto;
  background-color: transparent;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.divider-line {
  height: 100%;
  width: 1px;
  background-color: var(--green-700);
}
@media screen and (max-width: 480px) {
  .features-section {
    position: relative;
    top: 7vh;
    bottom: 3vh;
  }
}
@media (max-width: 1024px) {
  .features-section {
    margin-top: 20vh;
  }
}
@media screen and (max-width: 912px) and (max-height: 2000px) {
  .features-section {
    margin-top: 30vh;
  }
}
@media (max-width: 785px) {
  .features-section {
    margin-top: 23vh;
  }
}

@media (max-width: 640px) {
  .features-section {
    margin-top: 27vh;
  }
}

@media screen and (max-width: 850px) {
  .features-section {
    margin-top: 30vh;
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .features-section {
    margin-top: 32vh;
  }
}
