.hero-page {
  position: relative;
  width: 100%;
  height: 140vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--green-20);
  padding: 64px;
}

.hero-home-vector {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* Content Grid */
.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  flex: 1;
  width: 100%;
}

/* Left Content */
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 0;
}

.hero-title {
  color: var(--Type-Primary, #020617);
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 110% */
  letter-spacing: -0.96px;
}

.hero-description {
  color: var(--Type-Secondary, #475569);

  /* Text XL/Regular */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

/* CTA Section */
.hero-cta {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.hero-input {
  flex: 1;
  min-width: 0;
}

.hero-button {
  white-space: nowrap;
  padding: 16px 32px;
}

.hero-secondary-button {
  white-space: nowrap;
  padding: 16px 32px;
}

/* Privacy Notice */
.hero-privacy {
  color: var(--Type-Primary, #020617);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
}

.hero-privacy-link {
  color: #3a6202;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.hero-privacy-link:hover {
  color: var(--deep-tek-100);
}

/* Video Link */
.hero-video {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--Type-Secondary, #475569);
  cursor: pointer;
  transition: color 0.2s ease;
}
.hero-video span {
  color: var(--Components-Button-Outline-Dark-Placeholder-Color, #1f2937);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.hero-video:hover {
  color: var(--deep-tek-100);
}

.hero-video svg {
  width: 24px;
  height: 24px;
}

.hero-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  object-position: center;
  margin-top: -10vh;
}

.hero-image {
  width: 100%;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .hero-page {
    padding-top: 64px;
  }
  .hero-section {
    padding-top: 64px;
  }

  .hero-content {
    gap: 48px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 44px;
  }

  .hero-description {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .hero-page {
    height: 100%;
  }
  .hero-image-wrapper {
    max-width: 500px;
  }
  .hero-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    margin-top: 0;
  }
  .hero-content {
    margin-top: 2vh;
  }
  .hero-left {
    margin-top: -10vh;
  }
}

@media screen and (max-width: 850px) {
  .hero-page {
    height: 50vh;
  }
  .hero-left {
    width: 100%;
  }
  .hero-title {
    font-size: 32px;
    line-height: 36px;
  }

  .hero-description {
    font-size: 16px;
  }
  .hero-cta {
    width: 100%;
  }
  .hero-input {
    width: 100%;
  }
  .hero-button {
    /* width: 40%; */
    font-size: 14px;
    padding: 8px 16px;
  }

  .hero-privacy {
    font-size: 12px;
    line-height: 16px;
  }
  .hero-video {
    font-size: 12px;
    line-height: 16px;
  }
  .hero-video span {
    font-size: 12px;
    line-height: 16px;
  }
  .hero-video svg {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero-page {
    height: 110vh;
    /* padding: 64px 16px; */
    padding-top: 64px;
  }
  .hero-image-wrapper {
    max-width: 500px;
  }
  .hero-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
    margin-top: -10vh;
  }

  .hero-container {
    padding: 48px 0;
  }

  .hero-content {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .hero-title {
    font-size: 32px;
    line-height: 36px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-cta {
    flex-direction: column;
  }

  .hero-button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero-page {
    height: 110vh;
    padding: 0 16px;
    padding-top: 64px;
  }

  /* .hero-container {
    padding: 64px 0;
  } */
  .hero-content {
    padding: 0;
  }
  .hero-button {
    padding: 16px 32px;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .hero-page {
    height: 115vh;
  }
}
@media screen and (max-width: 380px) {
  .hero-page {
    height: 130vh;
  }
  .hero-image-wrapper {
    max-width: 500px;
  }
  .hero-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    margin-top: 0vh;
  }
}
@media screen and (max-width: 375px) {
  .hero-page {
    height: 145vh;
  }
}
