.hero-container {
  position: relative;
  height: 130vh;
  background-color: var(--green-20);
}

.vector-home {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.hero-image {
  width: 100%;
  overflow-y: hidden;
  object-fit: cover;
  object-position: center;
  margin-top: -20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: -40vh;
  gap: 12px;
  flex: 1 0 0;
}
.hero-content h1 {
  color: var(--Type-Primary, #020617);
  font-family: "Source Serif 4";
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px; /* 110% */
  letter-spacing: -0.96px;
}
.hero-content-description {
  color: var(--Type-Secondary, #475569);

  /* Text XL/SemiBold */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}
.hero-privacy-text {
  color: var(--Type-Primary, #020617);

  /* Text SM/Regular */
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}
.hero-input-group {
  width: 100%;
}
.hero-input {
  width: 100%;
  padding: 16px;
}
.hero-button {
  width: 50%;
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .hero-container {
    height: 44vh;
  }
  .hero-content {
    margin-top: -15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .hero-content h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.72px;
  }
  .hero-content-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
  .hero-privacy-text {
    font-size: 12px;
  }
  .hero-input-group {
    margin-top: -20px;
  }
  .hero-privacy-text {
    margin-top: -20px;
  }
  .hero-video-link {
    margin-top: -20px;
    text-align: left;
  }
  .hero-button {
    width: 100%;
  }
  .hero-image-container {
    margin-top: 0;
    width: 10vw;
  }
  .hero-image-container img {
    width: 200vw;
  }
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .hero-container {
    height: 104vh;
  }
  .hero-content {
    margin-top: -15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .hero-content h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.72px;
  }
  .hero-content-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
  .hero-privacy-text {
    font-size: 12px;
  }
  .hero-input-group {
    margin-top: -20px;
  }
  .hero-privacy-text {
    margin-top: -20px;
  }
  .hero-video-link {
    margin-top: -20px;
    text-align: left;
  }
  .hero-button {
    width: 100%;
  }
  .hero-image-container {
    margin-top: 0;
    width: 10vw;
  }
  .hero-image-container img {
    width: 200vw;
  }
}
@media screen and (max-width: 860px) {
  .hero-container {
    height: 45vh;
  }
  .hero-content {
    margin-top: -8vh;
  }
}
@media screen and (max-width: 780px) {
  .hero-container {
    height: 50vh;
  }
  .hero-content {
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .hero-input-group {
    width: 100%;
  }
  .hero-input {
    width: 100%;
  }
  .hero-button {
    width: 100%;
  }
  .hero-image {
    margin-top: 0;
    width: 100%;
  }
  .hero-content h1 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.72px;
  }
  .hero-content-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    margin-top: -20px;
  }
  .hero-privacy-text {
    font-size: 12px;
  }
  .hero-input-group {
    margin-top: -20px;
  }
  .hero-privacy-text {
    margin-top: -20px;
  }
  .hero-video-link {
    margin-top: -20px;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .hero-content {
    margin-top: 0;
    padding-top: 32px;
  }
  .hero-input-group {
    width: 100%;
  }
  .hero-input {
    width: 100%;
  }
  .hero-button {
    width: 100%;
  }
  .hero-container {
    height: 103vh;
  }
  .hero-image {
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .hero-container {
    height: 105vh;
  }
  .hero-image {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
  }
}
@media screen and (max-width: 412px) {
  .hero-container {
    height: 100vh;
  }
  .hero-image {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
  }
}
@media screen and (max-width: 400px) {
  .hero-container {
    height: 105vh;
  }
}
@media screen and (max-width: 375px) {
  .hero-container {
    height: 130vh;
  }
  .hero-image {
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .hero-container {
    height: 115vh;
  }
  .hero-image {
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .hero-container {
    height: 95vh;
  }
  .hero-image {
    margin-top: 0;
    width: 100%;
  }
}
