.bottom-section {
  margin-top: -50vh;
  z-index: 1;
  position: relative;
  background-color: transparent;
}
.bottom-section p {
  color: var(--Type-Primary, #020617);
  text-align: center;

  /* Text XL 2/Regular */
  font-family: "Source Serif 4";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  width: 712px;
}

.divider-line {
  height: 100%;
  width: 1px;
  background-color: var(--green-100);
  position: relative;
}

.sub-title {
  color: var(--Type-Primary, #020617);
  text-align: center;
  font-family: "Source Serif 4";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
.sub-title-description {
  color: var(--Type-Secondary, #475569);
  text-align: center;

  /* Text XL/Regular */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.sub-title-container {
  width: 758px;
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
/* .video-section {
  margin-top: -20vh;
} */
.video-container {
  width: 100%;
}
.sub-title2 {
  color: var(--Type-Primary, #020617);
  font-family: "Source Serif 4";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-bottom: 32px;
}
.sub-list-title {
  color: var(--Type-Primary, #020617);

  /* Text XL/SemiBold */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}
.sub-list-item {
  color: var(--Type-Secondary, #475569);

  /* Text base/SemiBold */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  width: 40vw;
  text-align: start;
}
.sub-list-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.list-item-container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 40vw;
}
.sub-title-description2 {
  color: var(--Type-Secondary, #475569);
  text-align: center;

  /* Text base/Regular */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
.integration-logo {
  width: 150px;
  height: 100%;
  object-fit: contain;
}
.leading-relaxed {
  color: var(--Type-Secondary, #475569);
  text-align: center;

  /* Text base/Regular */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  width: 758px;
}
@media (max-width: 1024px) {
  .bottom-section {
    top: 23vh;
  }
  .bottom-vector-home {
    top: 53vh;
  }
}
@media (max-width: 968px) {
  .hero-frame input {
    width: 60vw;
  }
  .hero-section {
    height: 55vh;
  }
  .bottom-vector-home {
    top: 52vh;
  }
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    padding: 0 24px;
  }
  .hero-content {
    width: 100%;
  }
  .hero-frame {
    width: 100%;
  }
  .bottom-vector-home {
    top: 50vh;
  }
  .bottom-section {
    top: 27vh;
  }
  .bottom-section p {
    width: 50vw;
    font-size: 20px;
  }
  .sub-title-container h2 {
    font-size: 24px;
  }
  .sub-title-description {
    font-size: 14px;
  }
  .sub-title-container {
    width: 100%;
    margin-top: -50px;
  }
  .sub-title-description {
    font-size: 16px;
    width: 100%;
  }
  .list-item-container {
    width: 100%;
  }
  .sub-list-item {
    width: 100%;
  }
  .leading-relaxed {
    width: 100%;
  }
  .video-section {
    margin-top: -50px;
  }
}
@media (max-width: 640px) {
  .bottom-vector-home {
    top: 53vh;
  }
  .bottom-section {
    top: 32vh;
  }
}
@media (max-width: 480px) {
  .bottom-vector-home {
    top: 55vh;
  }
  .bottom-section p {
    width: 70vw;
    font-size: 24px;
  }
  .sub-title-container {
    width: 100%;
    margin-top: -50px;
  }
  .sub-title-description {
    font-size: 16px;
    width: 100%;
  }
  .list-item-container {
    width: 100%;
  }
  .sub-list-item {
    width: 100%;
  }
  .leading-relaxed {
    width: 100%;
  }
}
/* @media screen and (max-width: 400px) {
  .bottom-vector-home {
    top: 150vh;
  }
} */
@media (max-width: 375px) {
  .bottom-vector-home {
    top: 140vh;
  }
  .bottom-section p {
    font-size: 20px;
  }
  .sub-title-container h2 {
    font-size: 24px;
  }
  .sub-title-description {
    font-size: 14px;
  }
  .video-button-text {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .bottom-section {
    margin-top: -50vh;
  }
  .feature-card-image {
    height: 200px;
  }
  .sub-list-title {
    color: var(--Type-Primary, #020617);

    /* Text XL/SemiBold */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .integration-logo-container img {
    padding: 0 16px;
  }
  .integration-subtitle {
    font-size: 12px;
  }
  .sub-title {
    color: var(--Type-Primary, #020617);
    text-align: center;
    font-family: "Source Serif 4";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }
}
