.navbar {
  height: 80px;
  padding: 10px 64px;
}

/* Mobile navbar styles */
@media (max-width: 920px) {
  .navbar {
    padding: 10px 16px;
  }
}

/* Small mobile navbar styles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 16px;
  }
}
