/* Candidate Hero Base Styles */
.candidate-hero-container {
  position: relative;
  height: 100vh;
  background-color: var(--cyan-20);
}

.candidate-hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: -40vh;
  gap: 12px;
  flex: 1 0 0;
}

.candidate-hero-content h1 {
  color: var(--Type-Primary, #020617);
  font-family: "Source Serif 4";
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px; /* 110% */
  letter-spacing: -0.96px;
}

.candidate-hero-content-description {
  color: var(--Type-Secondary, #475569);
  /* Text XL/SemiBold */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

.candidate-hero-input-group {
  width: 100%;
}

.candidate-hero-button {
  width: 50%;
}

.candidate-hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.candidate-hero-image {
  width: 100%;
  overflow-y: hidden;
  object-fit: cover;
  object-position: center;
  margin-top: -10vh;
}

.candidate-vector-home {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.page-hero-container {
  position: relative;
  height: 90vh;
}
.page-hero-section {
  display: flex;
  padding: 100px 64px;
  align-items: center;
  gap: 32px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: 105vh;
}
.page-hero-content {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 32px;
}
.page-hero-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -30vh;
}
.page-hero-breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  color: var(--Type-Secondary, #475569);
  margin-bottom: 8px;
}
.breadcrumb-home {
  display: flex;
  align-items: center;
  color: var(--Type-Secondary, #475569);
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}

.breadcrumb-separator {
  color: var(--Type-Secondary, #475569);
  margin: 0 8px;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}

.breadcrumb-current {
  color: var(--Type-Primary, #020617);
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}

.breadcrumb-link {
  display: flex;
  align-items: center;
  color: var(--Type-Secondary, #475569);
  text-decoration: none;
  transition: color 0.2s ease;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}

.breadcrumb-link:hover {
  color: var(--deep-tek-100);
}

.breadcrumb-link.active {
  color: var(--deep-tek-100);
  font-weight: 700;
}
.page-hero-frame h1 {
  color: var(--Type-Primary, #020617);

  /* Text Display Serif 2 */
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 110% */
  letter-spacing: -0.96px;
}
.page-hero-description {
  color: var(--Type-Secondary, #475569);

  /* Text XL/Regular */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: -20px;
}
.page-privacy-notice {
  color: var(--Type-Primary, #020617);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  width: 100%;
}
.page-hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.page-hero-image {
  height: 100%;
  width: 80%;
  object-fit: cover;
  object-position: center;
  margin-top: -100px;
  z-index: 1;
}
.page-hero-frame input {
  width: 100%;
  max-width: 100%;
}
.page-hero-breadcrumb {
  margin-top: -10vh;
  margin-bottom: 10vh;
}
.petal-image {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 50%;
}
.vector-page-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* top: 100vh; */
}

@media screen and (max-width: 1024px) {
  .candidate-hero-section {
    padding: 0 16px;
    /* padding-top: 50px; */
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .candidate-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    /* width: 461px; */
    margin-top: 10vh;
  }
  .candidate-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 48px;
    /* font-style: italic; */
    font-weight: 600;
    line-height: 52.8px; /* 110% */
    letter-spacing: -0.96px;
  }
  .candidate-hero-description {
    color: var(--Type-Secondary, #475569);

    /* Text XL/SemiBold */
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .candidate-privacy-notice {
    color: var(--Type-Primary, #020617);

    /* Text SM/Regular */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
    width: 100%;
  }
  .candidate-hero-frame input {
    width: 40vh;
  }
  .candidate-hero-image-container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .candidate-hero-image {
    object-fit: cover;
    object-position: center;
    margin-top: 0px;
    width: 50%;
  }
  .candidate-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .page-hero-frame {
    margin-top: 15vh;
  }
}
@media screen and (max-width: 768px) {
  .candidate-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
  }
  .candidate-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 36px;
    /* font-style: italic; */
    font-weight: 600;
    line-height: 36px; /* 110% */
    letter-spacing: -0.96px;
  }
  .candidate-hero-description {
    color: var(--Type-Secondary, #475569);

    /* Text XL/SemiBold */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .candidate-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    /* width: 461px; */
    margin-top: 15vh;
  }
  .candidate-hero-image {
    object-fit: cover;
    object-position: center;
    margin-top: 0;
    width: 60vw;
  }
}
@media screen and (max-width: 480px) {
  .page-hero-container {
    height: 100vh;
  }
  .candidate-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
  }
  .candidate-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 36px;
    font-weight: 600;
    line-height: 36px; /* 110% */
    letter-spacing: -0.96px;
  }
  .candidate-hero-description {
    color: var(--Type-Secondary, #475569);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .candidate-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    margin-top: 10vh;
  }
  .candidate-hero-image {
    width: 100%;
  }
  .open-roles {
    height: 420vh;
  }
  .vector-page-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* top: 100vh; */
  }
}
@media screen and (max-width: 420px) {
  /* .page-hero-frame {
    margin-top: 15vh;
  }
  .page-hero-image {
    margin-top: 50px;
  } */
}
@media screen and (max-width: 375px) {
  .page-hero-container {
    height: 100vh;
    position: relative;
  }
  .page-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
  }
  .page-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 24px;
    font-weight: 600;
    line-height: 26px; /* 110% */
    letter-spacing: -0.96px;
  }
  .page-hero-description {
    font-size: 16px;
    line-height: 24px; /* 110% */
    letter-spacing: -0.32px;
  }
  .page-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    width: 90vw;
    margin-top: 100px;
  }
  .page-hero-frame input {
    width: 80vw;
  }
  .page-privacy-notice {
    font-size: 10px;
    line-height: 14px; /* 110% */
    letter-spacing: -0.2px;
  }
  .page-hero-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .page-hero-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .vector-page-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* top: 100vh; */
  }
}

/* Mobile padding for main page-hero section */
@media screen and (max-width: 768px) {
  .page-hero-section {
    padding: 100px 16px;
  }
}
