.pricing-hero-section {
  display: flex;
  padding: 0 64px;
  align-items: center;
  gap: 32px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  box-sizing: border-box;
  height: 95vh;
}
.pricing-hero-content {
  display: flex;
  width: 45%;
  align-items: center;
  gap: 32px;
}
.pricing-hero-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  width: 461px;
  margin-top: -30vh;
}
.pricing-hero-frame h1 {
  color: var(--Type-Primary, #020617);

  /* Text Display Serif 2 */
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px; /* 110% */
  letter-spacing: -0.96px;
}

.pricing-hero-description {
  color: var(--Type-Secondary, #475569);

  /* Text XL/Regular */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.pricing-hero-heading {
  font-size: 48px;
  font-family: "Source Serif 4", serif;
  font-weight: 800;
}
.privacy-notice {
  color: var(--Type-Primary, #020617);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}
.pricing-hero-image-container {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.pricing-hero-image {
  height: 100%;
  width: 90%;
  object-fit: cover;
  object-position: center;
  margin-top: -170px;
}
.pricing-hero-frame input {
  width: 100%;
  max-width: 100%;
}
.bottom-vector-pricing {
  margin-top: -35vh;
}

/* Mobile padding for main pricing hero section */
@media screen and (max-width: 768px) {
  .pricing-hero-section {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1024px) {
  .pricing-hero-section {
    padding: 0 16px;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    margin-top: -10vh;
  }
  .pricing-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 48px;
    font-weight: 600;
    line-height: 52.8px; /* 110% */
    letter-spacing: -0.96px;
  }
  .pricing-hero-description {
    color: var(--Type-Secondary, #475569);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .privacy-notice {
    color: var(--Type-Primary, #020617);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
    width: 100%;
  }
  .pricing-hero-frame input {
    width: 45vh;
  }
  .pricing-hero-image-container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .pricing-hero-image {
    object-fit: cover;
    object-position: center;
    margin-top: 0px;
  }
  .pricing-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
  }
  .bottom-vector-pricing {
    margin-top: -15vh;
  }
}
@media screen and (max-width: 768px) {
  .pricing-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
  }
  .pricing-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 36px;
    font-weight: 600;
    line-height: 36px; /* 110% */
    letter-spacing: -0.96px;
  }
  .pricing-hero-description {
    color: var(--Type-Secondary, #475569);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .pricing-hero-frame input {
    width: 90vw;
  }
  .pricing-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    margin-top: 5vh;
  }
  .pricing-hero-section {
    height: 150vh;
  }
}
@media screen and (max-width: 480px) {
  .pricing-hero-section {
    height: 50vh;
  }
  .pricing-hero-frame {
    width: 100%;
  }
  .pricing-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
    margin-top: -5vh;
  }
  .pricing-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 36px;
    font-weight: 600;
    line-height: 36px; /* 110% */
    letter-spacing: -0.96px;
  }
  .pricing-hero-description {
    color: var(--Type-Secondary, #475569);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    width: 90%;
  }
  .pricing-hero-frame input {
    width: 90vw;
  }
  .pricing-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    margin-top: -100px;
  }
  .bottom-vector-pricing {
    margin-top: -10vh;
  }
}
@media screen and (max-width: 375px) {
  .pricing-hero-section {
    height: 140vh;
  }
  .pricing-hero-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
  }
  .pricing-hero-frame h1 {
    color: var(--Type-Primary, #020617);
    font-family: "Source Serif 4";
    font-size: 24px;
    font-weight: 600;
    line-height: 26px; /* 110% */
    letter-spacing: -0.96px;
  }
  .pricing-hero-description {
    font-size: 16px;
    line-height: 24px; /* 110% */
    letter-spacing: -0.32px;
  }
  .pricing-hero-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    width: 90vw;
    margin-top: 50px;
  }
  .pricing-hero-frame input {
    width: 80vw;
  }
  .privacy-notice {
    font-size: 10px;
    line-height: 14px; /* 110% */
    letter-spacing: -0.2px;
  }
  .pricing-hero-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .pricing-hero-image {
    object-fit: cover;
    object-position: center;
    margin-top: 0px;
  }
}
